<h4>{{ site.data.t.contacts[page.lang] }}</h4>

<a aria-label="Google Map - Via Liszt, 21 - 00144 Roma - {{ site.data.t.external-link[page.lang] }}" href="https://www.google.it/maps/place/Via+Liszt,+21,+00144+Roma+RM/@41.8336525,12.4653778,17z/data=!3m1!4b1!4m5!3m4!1s0x13258ae3d27bf449:0x5aa2ce4a30bafdda!8m2!3d41.8336485!4d12.4675665" title="Collegamento a sito esterno">{{ site.data.t.external-link[page.lang] }}</a>

{{ site.data.t.phone-number[page.lang] }}: +39 06852641<br>
<a href="mailto:peppol@agid.gov.it?subject=%5Bpeppol.agid.gov.it%5D%20Richiesta%20informazioni">{{ site.data.t.email-address[page.lang] }}</a><br>
<a href="mailto:protocollo@pec.agid.gov.it">{{ site.data.t.pec[page.lang] }}</a><br>
<a href="mailto:assistenzaPEPPOL@agid.gov.it">{{ site.data.t.technical-support[page.lang] }}</a><br>

{% comment %}
<div class="link-list-wrapper">
  <ul class="footer-list link-list clearfix">
    <li><a class="list-item" href="#" title="Link 1">Link 1</a></li>
    <li><a class="list-item" href="#" title="Link 2">Link 2</a></li>
  </ul>
</div>
{% endcomment %}
