<div class="it-hero-wrapper it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="{{ site.baseurl }}/assets/images/helloquence-5fNmWej4tAA-unsplash.jpg"
          title="PEPPOL" alt="PEPPOL"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <h1 class="no_toc">{{ page.hero_title }}</h1>
          <p class="d-none d-lg-block">{{ page.hero_description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-wrapper card-space">
        <div class="card card-bg">
          <div class="card-body">
            <h5 class="card-title">Cos'è PEPPOL?</h5>
            <p class="card-text">{{ include.text }}</p>
            <a class="read-more" href="{{ site.baseurl }}/it/cos-e-peppol">
              <span class="text">Leggi di più</span>
              <svg class="icon">
                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/svg/sprite.svg#it-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
