<!-- window.__PUBLIC_PATH__ points to fonts folder location -->
<script>window.__PUBLIC_PATH__ = '{{ site.baseurl }}/assets/bootstrap-italia/fonts'</script>

<!-- Bootstrap core JS -->
<script src="{{ site.baseurl }}/assets/bootstrap-italia/js/bootstrap-italia.bundle.min.js"></script>

<!-- Main JS -->
<script src="{{ site.baseurl }}/assets/main.js"></script>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://ingestion.webanalytics.italia.it/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '9aW3g6E0DR']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
